# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: SwiftCustomCI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Swift
      # This action automatically uses the latest stable Swift version by default
      uses: SwiftyLab/setup-swift@v1
    - name: Get swift version
      run: swift --version 
    - name: Build
      run: xcodebuild -scheme ProfileFeature -destination 'platform=iOS Simulator,name=iPhone 17' clean build
    - name: Run tests
      run: xcodebuild -scheme ProfileFeature -destination 'platform=iOS Simulator,name=iPhone 17' clean test
